@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


:root {
  --color-0: #fff;
  --color-1: #000;
  --color-2: #ff8600;
  --color-3: #bcbcbc;
  --color-4: #1d203a;
  --color-5: #FFC30D;
  --color-6: #414141;
  --color-7: #1b1b1b;

  --font-0: 'Raleway', cursive;
  --font-1: 'Bebas Neue', Arial, Helvetica, sans-serif;
  --font-2: 'Roboto', Arial, Helvetica, sans-serif;
  --border-size: 2px;
}

p, h2, h3, h4, h5, h6{
  font-family: var(--font-2);
}
h2, h3, h4, h5, h6{
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--color-0);
}

input:focus {
  outline: none;
}

header {
  position: relative;
  height: 98vh;
  background-color: var(--color-1);
}

header #links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(2px) brightness(.5);
  font-family: var(--font-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  transition-duration: .3s;
}
header #links.hidde{
  top: -3.6rem;
}

header #links .logo{
  height: 70%;
}

header #links .logo img {
  height: 100%;
}

header #links .logo {
  margin-left: 2vw;
}

#menu-nav {
  padding-left: 1rem;
  margin-right: 2vw;
  text-align: right;
}

.menu-link{
  font-family: var(--font-1);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 100px;
  position: relative;
  color: var(--color-0);
  text-decoration: none;
  letter-spacing: 0.05rem;
}

.menu-link:not(:first-child) {
  margin-left: 2rem;
}

.menu-link::after {
  content: "";
  display: none;
  position: absolute;
  transform: translateX(-50%);
  bottom: -0.3em;
  left: 50%;
  width: 85%;
  height: 0.1em;
  background-color: var(--color-0);
}

.menu-link:hover::after {
  display: block;
}

#menu-button {
  all: unset;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 4vw;
  min-width: 25px;
  height: 3vw;
  min-height: 20px;
  margin: 0 5vw;
  position: relative;
  cursor: pointer;
}

.burger-line {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-0);
  position: absolute;
  left: 0;
}

#menu-button #burger-line-1,
#menu-button #burger-line-2,
#menu-button #burger-line-3 {
  transition-duration: .3s;
}

#menu-button #burger-line-1 {
  top: 0;
}

#menu-button #burger-line-2 {
  bottom: 50%;
  transform: translateY(50%)
}

#menu-button #burger-line-3 {
  bottom: 0;
}

header #content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .wrapper-picture {
  background-color: var(--color-2);
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(98vh / 3);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

header picture {
  width: 20vw;
  min-width: 205px;
  height: 20vw;
  min-height: 205px;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  transform: translateY(-50%) !important;
}

.wrapper-picture picture img {
  width: 100%;
}

h1 {
  font-family: var(--font-0);
  font-weight: 300;
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  position: absolute;
  color: var(--color-0);
  bottom: -2rem;
  transition-delay: .3s;
  text-shadow: 0 7px 0px var(--color-2);
}

#about {
  display: inline-block;
  width: 60%;
  text-align: center;
  color: var(--color-3);
  font-size: 1rem;
  line-height: 1.5em;
  position: absolute;
  bottom: 2vw;
  left: 20%;
}

/* main */

main {
  overflow-x: hidden;
  background-color: var(--color-4);
  padding-top: 7vw;
}

/* projects */

main #projects {
  width: 95vw;
  margin: 0 auto;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: .7vw;
  justify-items: center;
  align-content: center;
  margin: 1vw 0 5vw 0;
}

.wrapper-out {
  width: 100%;
  position: relative;
  height: 350px;
}

.wrapper-cover {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s .7s ease;
}

.wrapper-cover.hover {
  width: 110%;
  height: 120%;
  z-index: 2;
}

.wrapper-cover.hover-btw {
  transform: translateX(-5%);
  width: 110%;
  height: 120%;
  z-index: 2;
}

.wrapper-cover.hover-rgt {
  left: initial;
  right: 0;
  width: 110%;
  height: 120%;
  z-index: 2;
}

.wrapper-cover img {
  width: 100%;
}

.wpr-coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wpr-coming-soon:hover {
  width: calc(100% + 1.4vw);
  height: calc(100% + 1.4vw);
  transform: translate(-.7vw, -.7vw)
}

/* skill styles */
.skills {
  width: 100%;
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h2 {
  transform: translateY(-50%);
  color: var(--color-0);
  font-size: 3rem
}

.skill-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2vw;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: grayscale(100%);
  transition-duration: .4s;
  height: fit-content;
  margin: 0 4vw;
  white-space: nowrap;
}

.skill:hover {
  filter: grayscale(0%)
}

.skill img {
  height: 6vw;
  min-height: 65px;
}

.skill p {
  transition: .4s;
  color: transparent;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  text-transform: capitalize;
}

.skill:hover p {
  color: var(--color-0);
}

aside.contact-me {
  display: flex;

}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: var(--color-5)
}

.form-wrapper h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.contact-form {
  width: 45%;
  min-width: 280px;
}

.form-item {
  width: 100%;
}

.form-field {
  position: relative;
  width: 100%;
}

.form-field .form-lbl {
  color: var(--color-6);
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  text-transform: capitalize;
  font-size: 1.1rem;
  line-height: 1.1rem;
  padding: 0 2%;
  background-color: var(--color-5);
  z-index: 1;
  cursor: text;
}

.focus .form-lbl {
  top: 0;
  left: 8%;
  font-size: 1rem;
  color: var(--color-4);
  transition-duration: .3s;
}

.form-npt {
  width: calc(100% - .5vw);
  height: 3vw;
  min-height: 31px;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
}

.form-npt:not(#npt-submit) {
  padding-left: .5vw;
}

#npt-submit {
  border: 2px solid var(--color-1);
  width: 40%;
  background-color: var(--color-5);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#npt-submit:focus,
#npt-submit:hover {
  filter: brightness(110%);
}

#npt-submit:active {
  filter: contrast(150%);
}

.form-npt#npt-text {
  height: 7vw;
  padding-top: .1rem;
  resize: vertical;

}

#npt-text:focus {
  outline: none;
}

.form-field .border {
  position: absolute;
  transition-duration: .5s;
}

.border-tp1.border-top {
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 25%,
      transparent 25%,
      transparent 100%);
}

.border-tp1.border-top {
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 25%,
      transparent 25%,
      transparent 100%);
}

.border-tp2.border-top {
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      transparent 0%,
      transparent 75%,
      var(--color-1) 75%,
      var(--color-1) 100%);
}

.border-tp3.border-top {
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

.border-tp4.border-top {
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 25%,
      transparent 25%,
      transparent 93%,
      var(--color-1) 93%,
      var(--color-1) 100%);
}

.border-tp1.border-right {
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
}

.border-tp2.border-right {
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(to bottom,
      var(--color-1) 0%,
      var(--color-1) 40%,
      transparent 40%,
      transparent 100%);
}

.border-tp3.border-right {
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
}


.border-tp4.border-right {
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(to bottom,
      var(--color-1) 0%,
      var(--color-1) 15%,
      transparent 15%,
      transparent 100%);
}

.border-tp1.border-bottom {
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

.border-tp2.border-bottom {
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

.border-tp3.border-bottom {
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 33%,
      transparent 33%,
      transparent 66%,
      var(--color-1) 66%,
      var(--color-1) 100%);
}

.border-tp4.border-bottom {
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

.border-tp1.border-left {
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(to bottom,
      var(--color-1) 0%,
      var(--color-1) 40%,
      transparent 40%,
      transparent 100%);
}

.border-tp2.border-left {
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
}

.border-tp3.border-left {
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(to bottom,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

.border-tp4.border-left {
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(to bottom,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

/* field in focus */

.focus .border-top {
  top: 0px;
  left: 0px;
  height: var(--border-size);
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

.focus .border-right {
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(to bottom,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

.focus .border-bottom {
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(to right,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

.focus .border-left {
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(to bottom,
      var(--color-1) 0%,
      var(--color-1) 100%);
}

.field-error {
  color: red;
  font-weight: 500;
  font-size: .95rem;
  letter-spacing: .05rem;
  margin-bottom: 1vw;
  opacity: 0;
}

.field-error:first-letter {
  text-transform: uppercase;
}

.form-item.invalid .field-error {
  opacity: 1;
}

.contact-image {
  width: 40%;
  overflow: hidden;
}

.contact-image img {
  height: 100%;
}

.social-network-wrpr {
  margin-top: 1vw;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 4%;
}

.social-network-wrpr>a {
  width: 3vw;
  max-width: 30px;
  min-width: 25px;
}

.social-network-wrpr img {
  width: 100%;
  cursor: pointer;
  transition: .3s;
}

.social-network-wrpr img:hover {
  filter: invert(1);
}

/* footer */
footer {
  background-color: var(--color-4);
  padding: 1vw 0;
  text-align: center;
}

.footer-txt {
  color: var(--color-0);
  opacity: .8;
}

#slogan {
  font-size: .9rem;
}

/* animations */
[data-animation="show"] {
  opacity: 0;
  transition-duration: .5s;
}

[data-animation="left"] {
  opacity: 0;
  transform: translateX(-20vw);
  transition-duration: .5s;
}

[data-animation="right"] {
  opacity: 0;
  transform: translateX(20vw);
  transition-duration: .5s;
}

[data-animation].animate {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1121px) {
  #gallery .wrapper-out:last-child {
    grid-column: span 2;
    width: calc(50% - .7vw);
  }

  .wppr-out-coming-soon {
    display: none;
  }
}

@media all and (max-width: 800px) {
  #about {
    width: 95%;
    left: 2.5%;
  }

  .contact-image {
    display: none;
  }

  .form-wrapper {
    width: 100%;
    padding-bottom: 1vw;
  }

  /* responsive menu */
  #menu-button {
    display: flex;
  }

  #menu-button.open #burger-line-1 {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    height: 3px
  }

  #menu-button.open #burger-line-2 {
    opacity: 0;
    transform: translateX(-50px);
  }

  #menu-button.open #burger-line-3 {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    height: 3px
  }

  #menu-nav {
    all: unset;
    position: absolute;
    top: 3.5rem;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 100;
    background-color: var(--color-7);
    color: #fff;
    display: none;
  }

  #menu-nav.open {
    display: flex;
  }

  #menu-nav a:not(:first-child) {
    margin: 0;
  }

  #menu-nav a {
    padding: .8rem 1vw;
    border-top: 1px solid var(--color-6);
  }

  #menu-nav a::after {
    display: none !important;
  }

  .skill {
    filter: none;
  }

  .skill p {
    color: var(--color-0);
    font-size: 1.5;
    font-weight: 400;
  }

  .skill-wrapper {
    row-gap: 5vw;
  }

  .form-field .border-top,
  .form-field .border-right,
  .form-field .border-bottom,
  .form-field .border-left {
    display: none;
  }

  .form-npt {
    border: 2px solid var(--color-1);
  }
}

@media (max-width: 742px) {
  #gallery {
    grid-template-columns: 1fr;
  }
  #about{
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 481px) {
  header {
    height: 95vh;
  }

  h1 {
    font-size: 12vw;
    text-shadow: none;
  }

  #about{
    width: 90%;
    left: 2.5%;
  }
}