@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-0: #fff;
  --color-1: #000;
  --color-2: #ff8600;
  --color-3: #bcbcbc;
  --color-4: #1d203a;
  --color-5: #FFC30D;
  --color-6: #414141;
  --border-size: 2px;
}

h2{
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--color-0);
}

input:focus{
  outline: none;
}

header {
  position: relative;
  height: 98vh;
  background-color: var(--color-1);
}

header #links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding-top: 1rem;
}

header #links .logo,
header #links .logo img {
  height: 100%;
}

header #links .logo {
  margin-left: 2vw;
}

header #links nav {
  padding-left: 1rem;
  margin-right: 2vw;
  text-align: right;
}

header #links nav a {
  position: relative;
  color: var(--color-0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

header #links nav a:not(:first-child) {
  margin-left: 2rem;
}

header #links nav a::after {
  content: "";
  display: none;
  position: absolute;
  transform: translateX(-50%);
  bottom: -0.3em;
  left: 50%;
  width: 85%;
  height: 0.1em;
  background-color: var(--color-0);
}

header #links nav a:hover::after {
  display: block;
}

header #content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header #content .wrapper-picture {
  background-color: var(--color-2);
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(98vh / 3);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

header #content .wrapper-picture picture {
  width: 20vw;
  min-width: 205px;
  height: 20vw;
  min-height: 205px;
  overflow: hidden;
  border-radius: 50%;
  transform: translateY(-50%);
}

header #content .wrapper-picture picture img {
  height: 100%;
}

header #content #text {
  position: absolute;
  bottom: 0;
  height: calc(98vh / 3);
  text-align: center;
  color: var(--color-0);
}

header #content #text h1 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  margin-top: -2rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
}

header #content #text #about {
  display: inline-block;
  width: 60%;
  color: var(--color-3);
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
}

/* main */

main {
  background-color: var(--color-4);
  padding-top: 7vw;
}

/* projects */

main #projects {
  width: 95vw;
  margin: 0 auto;
}

#gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: .7vw;
  justify-items: center;
  align-content: center;
  margin: 1vw 0 5vw 0;
}

.wrapper-out{
  width: 100%;
  position: relative;
  height: 350px;
}

.wrapper-cover{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s .7s ease;
}
.wrapper-cover.hover{
  width: 110%;
  height: 120%;
  z-index: 2;
}
.wrapper-cover.hover-btw{
  transform: translateX(-5%);
  width: 110%;
  height: 120%;
  z-index: 2;
}
.wrapper-cover.hover-rgt{
  left: initial;
  right: 0;
  width: 110%;
  height: 120%;
  z-index: 2;
}

.wrapper-cover img{
  width: 100%;
}
.wpr-coming-soon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wpr-coming-soon:hover{
  width: calc(100% + 1.4vw);
  height: calc(100% + 1.4vw);
  transform: translate(-.7vw, -.7vw)
}

/* skill styles */
.skills{
  width: 100%;
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h2{
  transform: translateY(-50%);
  color: var(--color-0);
  font-size: 3rem
}

.skill-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2vw;
}

.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: grayscale(100%);
  transition-duration: .4s;
  height:fit-content;
  margin: 0 4vw;
  white-space: nowrap;
}

.skill:hover{
  filter: grayscale(0%)
}

.skill img{
  height: 6vw;
  min-height: 65px;
}

.skill p{
  transition: .4s;
  color: transparent;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  text-transform: capitalize;
}

.skill:hover p{
  color: var(--color-0);
}

aside.contact-me{
  display: flex;

}

.form-wrapper{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 60%;
  background-color: var(--color-5)
}

.form-wrapper h3{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.contact-form{
  width: 45%;
  min-width: 280px;
}

.form-item{
  width: 100%;
}

.form-field{
  position: relative;
  width: 100%;
  padding-left: .5rem;
  padding-right: .2rem;
}

.form-field .form-lbl{
  color: var(--color-6);
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  text-transform: capitalize;
  font-size: 1.1rem;
  line-height: 1.1rem;
  padding: 0 2%;
  background-color: var(--color-5);
  z-index: 1;
  cursor: text;
}

.focus .form-lbl{
  top: 0;
  left: 8%;
  font-size: 1rem;
  color: var(--color-4);
  transition-duration: .3s;
}

.form-field .form-npt{
  width: 100%;
  height: 3vw;
  min-height: 31px;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
}
.form-field .form-npt#npt-text{
  height: 7vw;
  padding: .5rem 0;
  resize: vertical;

}
#npt-text:focus{
  
  outline: none;
}

.form-field .border{
  position: absolute;
  transition-duration: .5s;
}

.border-tp1.border-top{
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 25%,
    transparent 25%,
    transparent 100%
  );
}

.border-tp1.border-top{
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 25%,
    transparent 25%,
    transparent 100%
  );
}

.border-tp2.border-top{
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 75%,
    var(--color-1) 75%,
    var(--color-1) 100%
  );
}

.border-tp3.border-top{
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}

.border-tp4.border-top{
  top: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 25%,
    transparent 25%,
    transparent 93%,
    var(--color-1) 93%,
    var(--color-1) 100%
  );
}

.border-tp1.border-right{
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
}

.border-tp2.border-right{
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(
    to bottom,
    var(--color-1) 0%,
    var(--color-1) 40%,
    transparent 40%,
    transparent 100%
  );
}

.border-tp3.border-right{
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
}


.border-tp4.border-right{
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(
    to bottom,
    var(--color-1) 0%,
    var(--color-1) 15%,
    transparent 15%,
    transparent 100%
  );
}

.border-tp1.border-bottom{
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}

.border-tp2.border-bottom{
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}

.border-tp3.border-bottom{
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 33%,
    transparent 33%,
    transparent 66%,
    var(--color-1) 66%,
    var(--color-1) 100%
  );
}
.border-tp4.border-bottom{
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}

.border-tp1.border-left{
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(
    to bottom,
    var(--color-1) 0%,
    var(--color-1) 40%,
    transparent 40%,
    transparent 100%
  );
}
.border-tp2.border-left{
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
}

.border-tp3.border-left{
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(
    to bottom,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}

.border-tp4.border-left{
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(
    to bottom,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}

/* field in focus */

.focus .border-top{
  top: 0px;
  left: 0px;
  height: var(--border-size);
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}

.focus .border-right{
  top: 0px;
  right: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(
    to bottom,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}

.focus .border-bottom{
  bottom: 0px;
  left: 0px;
  height: var(--border-size);
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}

.focus .border-left{
  top: 0px;
  left: 0px;
  height: 100%;
  width: var(--border-size);
  background-image: linear-gradient(
    to bottom,
    var(--color-1) 0%,
    var(--color-1) 100%
  );
}
.form-item.invalid .border{
  background-image: none!important;
  background-color: red;
}

.field-error{
  text-transform: unset;
  color: red;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: .05rem;
  margin-bottom: 1vw;
  opacity: 0;
}
.field-error:first-letter{
  text-transform: uppercase;
}

.form-item.invalid .field-error{
  opacity: 1;
}

#npt-submit{
  width: 40%;
  padding: .7vw;
  background-color: var(--color-5);
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase; 
}
#npt-submit:focus{
  filter: brightness(110%);
}
#npt-submit:active{
  filter: contrast(150%);

}

.contact-image{
  width: 40%;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.contact-image img{
  height: 100%;
}

.social-network-wrpr{
  margin-top: 1vw;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 4%;
}

.social-network-wrpr > a{
  width: 3vw;
  max-width: 30px;
  min-width: 25px;
}

.social-network-wrpr img{
  width: 100%;
  cursor: pointer;
  transition: .3s;
}

.social-network-wrpr img:hover{
  filter: invert(1);
}

/* footer */
footer{
  background-color: var(--color-4);
  padding: 1vw 0;
  text-align: center;
}

footer .copy-alert{
  color: var(--color-0);
  opacity: .8;
}

@media (max-width: 1121px){
  #gallery .wrapper-out:last-child{
    grid-column: span 2;
    width: calc(50% - .7vw);
  }
  
  .wppr-out-coming-soon{
    display: none;
  }
}

@media (max-width: 800px){
  header #content #text #about{
    width: 90%;
  }
  .contact-image{
    display: none;
  }
  .form-wrapper{
    width: 100%;
    padding-bottom: 1vw;
  }
}